extends layout

block contenido
  .row
    .col-md-6.offset-md-3
      .card.shadow
        .card-body
          h3 Contacto
          p 📍 Uruapan, Michoacán
          p 📞 4521719252
          p ⏰ 8:00 am a 8:00 pm
          hr
          h5 ¿Por qué elegirnos?
          ul
            li Entregas el mismo día
            li Flores frescas garantizadas
            li Tarjeta personalizada gratis