extends layout

block contenido

  h2.text-center.mb-5
    | Ocasiones especiales 🎁

  .row.g-4

    .col-md-4
      a.text-decoration-none(href="/ocasiones/sanvalentin")
        .card.shadow.text-center.p-4
          h4 💖 San Valentín

    .col-md-4
      a.text-decoration-none(href="/ocasiones/cumple")
        .card.shadow.text-center.p-4
          h4 🎂 Cumpleaños

    .col-md-4
      a.text-decoration-none(href="/ocasiones/aniversario")
        .card.shadow.text-center.p-4
          h4 💍 Aniversario

    .col-md-4
      a.text-decoration-none(href="/ocasiones/madres")
        .card.shadow.text-center.p-4
          h4 🌸 Día de las madres

    .col-md-4
      a.text-decoration-none(href="/ocasiones/graduacion")
        .card.shadow.text-center.p-4
          h4 🎓 Graduación

    .col-md-4
      a.text-decoration-none(href="/ocasiones/baby")
        .card.shadow.text-center.p-4
          h4 👶 Baby Shower